body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #e0e8eb;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .title {
  font-size: 26px;
  margin-top: 0;
}
body .title {
  color: #778492;
}

/* ====== Header ====== */
.header {
  padding: 30px 0;
  background: #fff;
}
.header .title {
  color: #49515a;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 30px;
}
.header .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* ====== Sections ====== */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  color: #545e69;
  font-size: 24px;
}

/* ====== Case Studies Section ====== */
.case-study {
  margin-bottom: 30px;
}
.case-study .title {
  font-size: 26px;
  margin-top: 20px;
}
.case-study .title a {
  color: #778492;
}
.case-study .title a:hover {
  color: #5f6b77;
}
.case-study .project-image:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.crop {
  height: 300px;
  width: 400px;
  overflow: hidden;
}
.crop img {
  height: 300px;
  width: auto;
}
.upshot {
  font-size: 26px;
}

/* ====== Borders and Padding ====== */
.screenshot-frame {
  border: 1px solid #00bce4;
  margin: 10px;
}
.screenshot-border {
  border: 1px solid #00bce4;
}
.print-frame{
  border: 1px solid black;
  margin: 10px;
}
.standard-padding {
  padding: 20px;
}

/* ====== Footer ====== */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}
.footer .contact {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
  .header {
    text-align: center;
  }
  .header .title {
    font-size: 22px;
    margin-top: 0;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  body {
    font-size: 14px;
  }
  body .title {
    font-size: 20px;
  }
  .case-study .title {
    font-size: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1280px;
  }
}
